@import "tailwindcss";

@layer utilities {
  .headroom {
    @apply fixed top-0 left-0 right-0 z-[100000] text-white bg-white bg-opacity-5 backdrop-blur-[2px];
    transition: transform 200ms ease-in-out;
  }
  .headroom svg {
    fill: white;
  }

  .headroom--scrolled {
    @apply bg-white text-black bg-clip-border backdrop-filter-none backdrop-blur-none bg-opacity-100;
  }

  .headroom--unpinned {
    transform: translateY(-100%);
  }

  .headroom--pinned {
    transform: translateY(0%);
  }

  .headroom--pinned .svgBlue {
    @apply fill-[#003658];
  }
  .headroom--pinned .svgDark {
    @apply fill-[#006E7F];
  }

  .headroom-disable-animation {
    transition: none !important; /* Disable all transitions */
  }
}
